{% extends 'downloader/base.html' %}

{% block content %}
    
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="mt-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mb-4">Search Video</button>
            </form>
    
            <!-- Results Section -->
            {% comment %} {% if video_title OR video_thumbnail %} {% endcomment %}
            {% if video_thumbnail  %}
                <h2>Video Details</h2>
                <p><strong>Title:</strong> {{ video_title }}</p>
                <img src="{{ video_thumbnail }}" alt="Thumbnail" style="width: 600px; height: auto;">
                
                <!-- Download Button -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="video_url" value="{{ video_url }}">
                    <button type="submit" class="btn btn-danger my-3">Download Video</button>
                </form>
            {% endif %}
    
    
            <!-- Error Message -->
            {% if error %}
                <p style="color: red;">Error: {{ error }}</p>
            {% endif %}
        </div>
    </div>
</div>
    
        

{% endblock %}
